<div class="loggedInFooterPadding">

</div>
<footer class='loggedInFooter'>
  <ul class="footerTop">
    <li><a href="/userpage/<%=currentUser._id%>">My Profile</a></li>
    <li><a href="/lookaround/">Look Around</a></li>
    <li><a href="/edituser/<%=currentUser._id%>">Settings</a></li>
    <li>
      <form class="logoutFooter" action="/sessions/?_method=DELETE" method="POST">
        <input type="submit" value="Log Out">
      </form>
    </li>
  </ul>
  <div class="verticalRule"> </div>
  <ul class="footerBottom">
    <li><a href="https://hunterwallen.github.io/">Creator's Page</a></li>
    <li><a href="https://hunterwallen.github.io/projects.ht">Creator's Projects</a></li>
    <li><a href="https://hunterwallen.github.io/contact.html">Contact Me</a></li>
    <li><a href="https://theoutspokenoutcast.wordpress.com/">Creator's Blog</a></li>
  </ul>
</footer>
