<footer class='landingFooter'>
  <ul class='gateFooterTop'>
    <li><a href="/sessions/">Login</a></li>
    <li><a href="/newusers/">Create Account</a></li>
    <li><a href="https://hunterwallen.github.io/contact.html">Contact Me</a></li>
  </ul>
  <div class="verticalFooterRule"></div>
  <ul class="gateFooterBtm">
    <li><a href="https://hunterwallen.github.io/">Creator's Page</a></li>
    <li><a href="https://hunterwallen.github.io/projects.ht">Creator's Projects</a></li>
    <li><a href="https://theoutspokenoutcast.wordpress.com/">Creator's Blog</a></li>
  </ul>
</footer>
