  <div class="shortListDiv">
    <h3>My Short List</h3>
    <%if(!currentUser.watchList[0]) {%>
      <h4>Add Up To 10 Users to Your Short List to See Them Here</h4>
    <%} else {
      for(let i = 0; i <= 10; i++) {
        let thisUser = currentUser.watchList[i]
        if(thisUser) {%>
        <a href='/userpage/<%=thisUser._id%>' class="miniUserCard">
          <img src="https://i.imgur.com/GM7Y8x0m.png" alt="<%=thisUser.username%>'s Pic'">
          <h4><%=thisUser.username%></h4>
          <h5><%=thisUser.location%></h5>
        </a>
        <%} else {
          break
        }%>
      <%}%>
    <%}%>
  </div>
