<form class="newPost" action="/newpost/<%=currentUser._id%>" method="POST">
  <input type="text" name="title" placeholder="Title..." class='newPostText'>
  <textarea name="body" placeholder="Speak your mind in 50 characters or less!" class='newPostText' rows='2'></textarea>
  <input type="submit" value="Post It!" class='newPostSubmit'>
</form>
