<form class="newPost" action="/newpost/<%=currentUser._id%>" method="POST">
  <input type="text" name="title" placeholder="Title...">
  <input type="text" name="body" placeholder="Speak your mind in 50 characters or less!">
  <input type="submit" value="Post It!">
</form>
