<form class="" action="/lookaround/search/?_method=PUT" method="POST">
  <input type="text" name="search" placeholder="Search by Username">
  <input type="submit" name="" value="Search">
</form>
<%if(clear) {%>
  <a href="/lookaround/">Clear Results</a>
<%}%>
