<div class="userCardDiv">
  <img src="" alt="<%=currentUser.username%>'s Profile Pic">
  <div class="nameAboutDiv">
    <h1><%=currentUser.username%></h1>
    <h3><%=currentUser.location%></h3>
    <h5><%=currentUser.about%></h5>
  </div>
</div>
