<div class="userCardDiv">
  <img src="" alt="<%=user.username%>'s Profile Pic">
  <div class="nameAboutDiv">
    <h1><%=user.username%></h1>
    <h3><%=user.location%></h3>
    <h5><%=user.about%></h5>
  </div>
</div>
