<div class="feedDiv">
  <ul>
    <% if (user.post[0]){%>
      <% for(i in user.post) { %>
      <li>
        <div class="titleNameFeed">
          <h3><%=user.post[i].title%></h3>
          <h5>by <%=user.username%></h5>
        </div>
        <h4><%=user.post[i].body%></h4>
        <div class="likeDislikeFeed">
        <%-include('./likedislikediv.ejs')%>
        </div>
      </li>
      <%}%>
    <%} else {%>
      <li>When you make posts, this is where we'll save them for you!</li>
    <%}%>
  </ul>
</div>
