<div id='userPageNavBar'>
  <div class="userNavButton focus" id='userFeedButton' divNum='1'>
    <h3>Posts</h3>
  </div>
  <div class="userNavButton" id='watchingButton' divNum='2'>
    <h3>Watching</h3>
  </div>
  <div class="userNavButton" id='watchedButton' divNum='3'>
    <h3>Watched By</h3>
  </div>
</div>
<script src="/script/userpagenav.js" charset="utf-8"></script>
