<html lang="en" dir="ltr">
  <%-include('./partials/head.ejs')%>
  <body>
    <div class="gatekeeperWelcome">
      <h1>Welcome to 1LINR!</h1>
      <h3>Please sign in or create an account to continue!</h3>
      <a href="#" class='gatekeeperBtn'>Sign In</a>
      <a href="#" class='gatekeeperBtn'>Create Account</a>
    </div>
  </body>
</html>
