<html lang="en" dir="ltr">
  <%-include('./partials/head.ejs')%>
  <body>
    <div class="gatekeeperWelcome">
      <%-include('./partials/header.ejs')%>
      <h1>Welcome to 1LINR!</h1>
      <h3>Please sign in or create an account to continue!</h3>
      <a href="/sessions/" class='gatekeeperBtn'>Sign In</a>
      <a href="/newusers/" class='gatekeeperBtn'>Create Account</a>
    </div>
  </body>
</html>
