<html lang="en" dir="ltr">
  <%-include('./partials/head.ejs')%>
  <body>
    <h1>Look Around</h1>
    <%-include('./partials/nav.ejs')%>
    <%-include('./partials/newpeoplediv.ejs')%>
  </body>
</html>
