body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Heebo', sans-serif;
}

#errMsg {
  text-align: center;
  padding: 2em;
  margin: 0;
  color: red;
}

.errorMsg {
  display: none;
  color: red;
}

/* header */

header {
  background-color: whitesmoke;
  display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   height: 14em;
}


/* nav bar */

.topNav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #F0CE0E;
  margin-bottom: 2em;
  border-top: 2px solid #D1B30A;
  border-bottom: 2px solid #D1B30A;
  font-family: 'Heebo', sans-serif;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 3.75em;
}


.homeNav{
  width: 4em;
  height: 100%;
  text-align: center;
  padding: .5em;
  text-decoration: none;
  color: #021670;
  box-sizing: border-box;
  font-size: 1.5em;
  border-left: 2px solid #F0CE0E;
  border-right: 2px solid #F0CE0E;
}

.homeNav:hover {
  background-color: #FFDB0D;
  border-left: 2px solid #D1B30A;
  border-right: 2px solid #D1B30A;
}

.navDropDown {
  width: 5.5em;
  height: 3.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-left: 2px solid #F0CE0E;
}

.navDropDown:hover {
  cursor: pointer;
  background-color: #FFDB0D;
  border-left: 2px solid #D1B30A;
}

.navImg {
  height: 3em;
  border-radius: 2em;
  padding: .35em 0 .45em 0;
}

.topNavUL {
  z-index: 5;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  flex-direction: column;
  background-color: #F0CE0E;
  transform: translateX(-2.1em);
  border: 2px solid #D1B30A;
  border-top: none;

}

.topNavUL li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: space-between;
  align-content: center;
  width: 10em;
  box-sizing: border-box;
  min-height: 2.5em;
  text-align: center;
}

.topNavUL li a {
  padding: .75em 1em;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  color: #021670;
}

.topNavUL li :hover {
  background-color: #FFDB0D;
  outline: 2px solid #D1B30A;
}

.logout {
  margin: 0;
  width: 100%;
}

.logout input {
  display: block;
  padding: .85em;
  width: 100%;
  text-align: center;
  background-color: inherit;
  border: none;
  font-size: 1rem;
  color: #021670;
}

.logout input:hover {
  cursor: pointer;
  background-color: #FFDB0D;
  outline: 2px solid #D1B30A;
}


/* landing page (gatekeeper) */
.gatekeeperFullPageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.gatekeeperWelcome {
  text-align: center;
  margin: 0 auto;
  width: 80vw;
  min-height: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0CE0E;
  color: #031770;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 5px rgb(200, 200, 200));
}

.gatekeeperWelcome h3 {
  font-size: 2em;
  text-shadow: 2px 2px #FFDB0D;
  margin: 0 0 .5em 0;
}

.landingLogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logintext {
  max-width: 75vw;
  font-size: 1.25em;
  padding: .75em;
  margin: .5em;
  border-radius: 5px;
  border: 2px solid white;
  filter: drop-shadow(0 0 5px #F0CE0E);
}

.logintext:focus {
  outline: none;
  border: 2px solid #7F7E80;
  filter: drop-shadow(0 0 5px #7F7E80);
}

.submitLogin {
  font-family: 'Heebo', sans-serif;
  font-size: 1.25em;
  color: whitesmoke;
  border: none;
  background-color: #7F7E80;
  width: 10em;
  padding: .5em;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px #7F7E80);
}

.submitLogin:hover {
  cursor: pointer;
}

.submitLogin:focus {
  outline: none;
  border: #031770;
  filter: drop-shadow(0 0 2px #7F7E80);
}

.gatekeeperWelcome hr {
  margin: 2em 0 2em 0;
  border: .5px solid #DBBC0B;
  width: 80%;
}

.gatekeeperBtn {
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  font-size: 1.25em;
  text-decoration: none;
  color: whitesmoke;
  border: none;
  background-color: #031770;
  width: 10em;
  padding: .5em 0;
  border-radius: 5px;
  margin: .5em;
  filter: drop-shadow(0 0 5px #7F7E80);
}


/* gatekeeper footer */
.landingFooterPadding {
  min-height: 10em;
}

.landingFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #7F7E80;
  border-top: 2px solid lightgrey;
  height: 10em;
  margin-top: 3.5em;
}

.gateFooterTop, .gateFooterBtm {
  list-style: none;
  padding: 0;
}

.gateFooterTop {
  text-align: right;
}

.gateFooterTop li, .gateFooterBtm li {
  padding: .25em 1em;
}

.gateFooterTop li :hover, .gateFooterBtm li :hover{
 cursor: pointer;
 color: lightgrey;
}

.gateFooterBtm li a, .gateFooterTop li a {
  text-decoration: none;
  color: whitesmoke;
}

.verticalFooterRule {
  height: 85%;
  border-right: .25px solid lightgrey;
}

/* landing log in page */
.loginLandingDiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loginLandingDiv img {
  height: 200px;
  width: 200px;
}

.authenticationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0CE0E;
  padding: 2em;
  border-radius: 5px;
  filter:drop-shadow(0 0 5px #7F7E80);
  width: 60vw;
  color: #031770;
}

.loginField {
    max-width: 75vw;
    font-size: 1.25em;
    padding: .75em;
    margin: .5em;
    border-radius: 5px;
    border: 2px solid white;
    filter: drop-shadow(0 0 5px #F0CE0E);
  }

  .loginField:focus {
    outline: none;
    border: 2px solid #7F7E80;
    filter: drop-shadow(0 0 5px #7F7E80);
  }


  .submitUser {
    font-family: 'Heebo', sans-serif;
    font-size: 1.25em;
    color: whitesmoke;
    border: none;
    background-color: #7F7E80;
    width: 10em;
    padding: .5em;
    border-radius: 5px;
    filter: drop-shadow(0 0 5px #7F7E80);
    margin: .5em;
  }

  .submitUser:hover {
    cursor: pointer;
  }


/* create account page */
.createAccountDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.createAccountDiv h3 {
  margin-bottom: 0;
}

.createTextInput {
  max-width: 75vw;
  font-size: 1.25em;
  padding: .75em;
  margin: .5em;
  border-radius: 5px;
  border: 2px solid white;
  filter: drop-shadow(0 0 5px #F0CE0E);
}

.createTextInput:focus {
  outline: none;
  border: 2px solid #7F7E80;
  filter: drop-shadow(0 0 5px #7F7E80);
}

.createTextArea {
  max-width: 75vw;
  font-family: 'Heebo', sans-serif;
  font-size: 1.25em;
  padding: .75em;
  margin: .5em;
  border-radius: 5px;
  border: 2px solid white;
  filter: drop-shadow(0 0 5px #F0CE0E);
  height: 10em;
  resize: none;
}


/* newpost div */
.newPost {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0CE0E;
  color: #031770;
  border-radius: 5px;
  filter: drop-shadow(3px 3px 5px rgb(200, 200, 200));
}

.newPostText {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  padding: .75em;
  margin: .5em;
  border-radius: 5px;
  border: 2px solid white;
  filter: drop-shadow(0 0 5px #F0CE0E);
  width: 80vw;
  resize: none;
}

.newPostText:focus {
  outline: none;
  border: 2px solid #7F7E80;
  filter: drop-shadow(0 0 5px #7F7E80);
}

.newPostSubmit {
  font-family: 'Heebo', sans-serif;
  font-size: 1.25em;
  color: whitesmoke;
  border: none;
  background-color: #7F7E80;
  width: 10em;
  padding: .5em;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px #7F7E80);
}

.newPostSubmit:hover {
  cursor: pointer;
}

.newPostSubmit:focus {
  outline: none;
  border: #031770;
  filter: drop-shadow(0 0 2px #7F7E80);
}

/* homepage */
.homepageContentDiv {
  width: 100%;
  min-height: calc(100% - 20em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.feedAndWatchingDiv {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.newPostHomepage {
margin: 0 5em;
}

/* shorlist */
.shortListDiv {
  width: calc(80vw + 1em);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  filter: drop-shadow(3px 3px 5px rgb(200, 200, 200));
  color: #021670;
  margin: .5em 0;
}

.shortListDiv h3 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

.shortListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.shortListContainer h4 {
  text-align: center;
  margin: .25em;
}

.shortListDiv hr {
  width: 90%;
  border: .25px solid lightgrey;
}
.miniUserCard {
  margin: 1em;
  min-width: 10em;
  height: 11em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid lightgrey;
  box-sizing: border-box;
  border-radius: 5px;
  transition-duration: .5s;
  text-decoration: none;
  color: #021670;
}

.miniUserCard:hover {
  background-color: whitesmoke;
  transition-duration: .5s;
}

.miniUserPic {
  height: 5em;
  width: 5em;
  border-radius: 5em;
}

.miniUserCard h4, .miniUserCard h5 {
  margin: .5em;
}

.miniUserCard h5 {
  font-size: .75em;
  max-width: 90%;
  flex-shrink: 1;
}

/* homepage feed */
.feedDiv {
  display: flex;
  flex-direction: column;
  width: calc(80vw + 1em);
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  filter: drop-shadow(3px 3px 5px rgb(200, 200, 200));
  color: #021670;
  margin: .5em 0;
}

.feedDiv h3 {
  font-size: 1.5em;
  margin: 0;
}

.feedDiv hr {
  width: 90%;
  border: .25px solid lightgrey;
}

.feedPosts {
  list-style: none;
  width: 90%;
  box-sizing: border-box;
  padding: .5em;
  margin: 0;
}

.feedPosts li {
  padding: 2em 0;
  border-bottom: .25px dotted lightgrey;
}

.feedPosts li h2 {
  margin: 2em 0;
  text-align: center;
}

.titleNameFeed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.titleNameFeed h4 {
  margin: 0;
}

.nameDateFeed {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.nameDateFeed h5 {
  margin: 0;
}

.nameDateFeed h5 a {
  text-decoration: none;
  color: grey;
}

.nameDateFeed h5 a:hover {
  color: #3675EB;
}

.likeDislikeFeed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.likeDislikeFeed h5 {
  color: #F0CE0E;
  font-size: 1em;
  margin: 0;
}

.likeDislikeDiv {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #F0CE0E;
  font-size: 1.25em;
  margin: 0;
}

.likeDislikeDiv form {
  margin: 0;
}

.likeDislikeDiv form input {
  background-color: inherit;
  border: none;
  color: grey;
  font-size: 1em;
}

.likeDislikeDiv form input:hover{
  background-color: inherit;
  border: none;
  color: #3675EB;
  cursor: pointer;
}


/* logged in footer */
.loggedInFooter {
  margin-top: 2em;
  background-color: #F0CE0E;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  height: 10em;
}

.loggedInFooter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.loggedInFooter li a {
  display: block;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  color:#031770;
  padding: .5em;
  width: calc(100% - 1em);
  border-top: .5px dashed #F0CE0E;
  border-bottom: .5px dashed #F0CE0E;
}

.loggedInFooter li a:hover {
  border-top: .5px dashed grey;
  border-bottom: .5px dashed grey;
}

.footerTop {
  text-align: right;
}

.logoutFooter {
  margin: 0;
}

.logoutFooter input {
  width: 100%;
  background-color: inherit;
  border: none;
  font-size: 1em;
  padding: .5em;
  color: #031770;
  font-family: 'Heebo', sans-serif;
  text-align: right;
  border-top: .5px dashed #F0CE0E;
  border-bottom: .5px dashed #F0CE0E;
}

.logoutFooter input:hover {
  border-top: .5px dashed grey;
  border-bottom: .5px dashed grey;
  cursor: pointer;
}

.verticalRule {
  height: 100%;
  border-right: .25px solid #DBBC0B;
  margin: 0 2em;
}



/* user profile pages */
.profilePageContent {
  width: 100%;
  min-height: calc(100% - 20em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cardAndNav {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2em;
}

.userCardDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  width: 100%;
  margin-top: -2em;
  padding: 2em .5em;
  box-sizing: border-box;
}

.userPagePic {
  height: 8em;
  border-radius: 8em;
  margin: 0 2em 0 0;
}

.nameAboutDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  max-width: 12em;
}

#username, #userlocation, #userabout{
  margin: .25rem 0;
}

#username {
  color: #031770;
}

#userlocation, #userabout {
  color: #7F7E80;
  font-family: 'Montserrat', sans-serif;

}

.watchButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: center;
}
.watchButtons form {
  margin: .5em 1em;
}
.followBtn {
  border: none;
  background-color: #F0CE0E;
  font-size: 1em;
  border-radius: 5px;
  padding: .5em;
  color:#031770;
  font-family: 'Heebo', sans-serif;
  filter: drop-shadow(0 0 5px lightgrey);
  width: 10em;
}
.followBtn:hover {
  cursor: pointer;
  background-color: #FFDB0F;
}
.unfollowBtn {
  border: none;
  background-color: #3675EB;
  font-size: 1em;
  border-radius: 5px;
  padding: .5em 0;
  color: whitesmoke;
  font-family: 'Heebo', sans-serif;
  filter: drop-shadow(0 0 5px lightgrey);
  width: 10em;
}
.unfollowBtn:hover {
  cursor: pointer;
  background-color: #0524AB
}

#userPageNavBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  background-color: white;
  color: #031770;
  text-align: center;
  filter: drop-shadow(0 5px 2px lightgrey);
}

#userPageNavBar h3 {
  margin: .5em;
}

.userNavButton {
  width: 33.3%;
}

.userNavButton:hover {
  cursor: pointer;
  color:#3675EB;
}

.userNavButton.focus {
  border-bottom: 4px solid #031770;
}

.userContentDiv {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userContentDiv img {
  height: 4em;
}

.userContentDiv.focus {
  display: flex;
}

.watchDiv {
  display: flex;
  flex-direction: column;
  width: calc(80vw + 1em);
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  filter: drop-shadow(3px 3px 5px rgb(200, 200, 200));
  color: #021670;
  margin: .5em 0;
}

.userCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.noUserPostsMsg {
  text-align: center;
}



/* look around, edit posts list, watching and watchers full pages */
.watchFullPage {
  width: 100%;
  min-height: calc(100% - 20em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.watchingFullDiv {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: calc(80vw + 1em);
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  filter: drop-shadow(3px 3px 5px rgb(200, 200, 200));
  color: #021670;
  margin: .5em 0;
}

#fullPageWatchCards {
  margin: 0 auto;
  width: auto;
  justify-content: space-between;
}


/* edit posts list page */
.editDeleteHeader {
  width: 90%;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  padding: .5em;
}

.editDeleteButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.deleteContainer {
  width: auto;
}
.deleteBtn {
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  color: whitesmoke;
  border: none;
  background-color: #7F7E80;
  width: 6rem;
  padding: .5rem;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px #7F7E80);
  margin: .5em 1em;
}
.deleteBtn:hover{
  cursor: pointer;
}

.editBtn {
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  color: whitesmoke;
  border: none;
  background-color: #7F7E80;
  width: 5rem;
  padding: .5rem;
  border-radius: 5px;
  filter: drop-shadow(0 0 5px #7F7E80);
  margin: .5em 1em;
  text-decoration: none;
  text-align: center;
  display: block;
}


/* edit post single page */
#editPostPage {
  height: calc(100vh - 20em);
}


/* edit profile page */
#upload_widget {
  font-size: 1em;
  background-color: #3B7FFF;
  color: whitesmoke;
  border: none;
  filter: drop-shadow(0 0 3px #7F7E80);
}
.editProfileForm h3{
  margin: 1.5em 0 .25em 0;
}




/* larger screens home page  */
@media (min-width: 700px) {
  .feedAndWatchingDiv {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(80vw + 4.25em);
  }

  .feedDiv {
    margin-left: .5em;
  }

  .shortListDiv {
    width: 25%;
    margin-right: .5em;
  }
  .shortListDiv h3 {
    font-size: 1.5em;
  }

  .userCards .fullList {
    width: 25%;
  }
